.slide-container,
.thumb-container {
	width: 100%;
	overflow: auto;
	scroll-snap-type: x mandatory;
	margin-bottom: -15px;
	display: flex;
	padding: 0;
}
.slide-container li,
.thumb-container li {
	display: block;
}
.slide-container__wrap,
.thumb-container__wrap {
	overflow: hidden;
}
.slide-container {
	scroll-padding: 5%;
}
.slide-container li {
	flex: 0 0 90%;
	padding: 0 10px;
	position: relative;
	scroll-snap-align: start;
}
.slide-container img {
	display: block;
	width: 100%;
}
.slide-container p {
	position: absolute;
	bottom: 0;
	left: 10px;
	right: 10px;
	margin: 0;
	padding: 30px;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
}
.thumb-container__wrap {
	display: none;
}
@media (min-width: 765px) {
	.slide-container {
		scroll-padding: 0;
	}
	.slide-container li {
		flex-basis: 100%;
		padding: 0;
	}
	.slide-container p {
		right: 0;
		left: 0;
	}
	.thumb-container.scrolling {
		scroll-snap-type: none;
	}
	.thumb-container li {
		flex: 0 0 33.3333333333%;
		scroll-snap-align: center;
	}
	.thumb-container a {
		display: block;
		width: 100%;
		padding-top: 56.25%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-origin: border-box;
		overflow: hidden;
		text-indent: -9999px;
		border: 4px solid transparent;
		transition: border-color 0.3s;
	}
	.thumb-container a:hover,
	.thumb-container a:focus {
		border-color: orange;
	}
	.thumb-container a.active {
		border-color: red;
	}
	.thumb-container__wrap {
		position: relative;
		display: flex;
	}
	.prev,
	.next {
		display: flex;
		align-items: center;
	}
	.prev.disabled,
	.next.disabled {
		pointer-events: none;
		opacity: 0.5;
	}
}
/* --- */
.slider {
	position: relative;
	max-width: 450px;
	overflow-x: hidden;
	margin: 0 auto;
}
.slider ul li {
	display: inline-block;
}
.slider ul {
	padding: 0;
	list-style-type: none;
}

.slider ul li img {
	width: 100px;
	height: 100px;
}
.slider .arrow {
	position: absolute;
	top: 50%;
	height: 30px;
	margin-top: -15px;
	padding: 0;
	background: #ddd;
	border-radius: 15px;
	border: 1px solid gray;
	font-size: 24px;
	color: #444;
}
.slider .arrow.right {
	right: 2px;
}
.slider .arrow.left {
	left: 2px;
}
.slider .arrow:focus {
	outline: none;
}
.slider .arrow:hover {
	background: #ccc;
	cursor: pointer;
}
