.dots-container .prev,
.dots-container .next {
	cursor: pointer;
    text-decoration: none;
    color: #3a3a3a;
}

.dots-container {
	display: flex;
	justify-content: center;
	align-items: center;
    margin-top: 40px;
    height: 100px;
}
.dots-imgs{
    display: flex;
    overflow-x: scroll;
    margin: 0 30px;
}

.dots-container .dot {
    display: flex;
	cursor: pointer;
    margin: 0 5px;
}
.dots-container .dot img {
	max-width: 100px;
    max-height: 100px;
}

.dots-container .dot.active {
	border: 1px solid #3a3a3a;
}

.slide-container {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1000px;
	margin: auto;
	position: relative;
}

.slide-container .slide {
	display: none;
	width: 100%;
}

.slide-container .slide.fade {
	animation: fade 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.slide-container .slide img {
	width: 100%;
}
