.product__title > h1 {
	max-width: 500px;
}

.product__title > h1 {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 600;
	font-size: 52px;
	line-height: 54px;
	color: #3a3a3a;
}
.product__price {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 44px;

	display: flex;
	align-items: center;

	color: #3a3a3a;
}
.product__description {
	font-family: "Inter";
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 32px;
	color: #3a3a3a;
	mix-blend-mode: normal;
	opacity: 0.8;
	margin-top: 40px;
}
.product__description ul {
	display: block;
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 32px;
	list-style: none;
	padding: 0;
}
.product__description ul img, svg{
	margin-right: 20px ;
	margin-top: 1%;
	/* height: 100%; */
	object-fit: cover;
}
.product__description li{
	margin: 16px 0;
}
.product__description li > span{
	display: grid;
	grid-template-columns: 24px auto;
	gap: 16px;
	align-items: center
}

/* variant_picker */
.variant_picker {
	position: relative;
	display: inline-block;
}
.product__variant_picker input[type="radio"] {
	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0;
	opacity: 0;
}
.product__variant_picker label {
	background: #d5dce26a;
	border-radius: 15px;
	padding: 7px 10px;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	margin-right: 5px;
}
.product__variant_picker input[type="radio"]:checked + label {
	background: #d5dce2;
}

/* product__buy-buttons */
.product__buy-buttons {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.product__buy-buttons input[type="number"] {
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
	appearance: textfield;
}
.product__buy-buttons input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}
.product__buy-buttons .number-input {
	border: 2px solid #f4f4f4;
	border-radius: 6px;
	width: 81px;
	height: 60px;
	display: flex;
	text-align: center;
	margin: 0 15px;
}
.product__buy-buttons .number-input,
.number-input * {
	box-sizing: border-box;
	position: relative;
}
.product__buy-buttons .number-input button {
	width: 33px;
	height: 30px;
	padding: 0;
	margin: 0;
	background: #f4f4f4;
	border: none;
}
.product__buy-buttons .number-input button:hover {
	background: #e8e8e8;
}
.product__buy-buttons .number-input button:before,
.number-input button:after {
	/*  */
}
.product__buy-buttons .number-input button.plus:after {
}
.product__buy-buttons .number-input .minus {
	position: absolute;
	bottom: 0;
	right: 0;
}
.product__buy-buttons .number-input .plus {
	position: absolute;
	top: 0;
	right: 0;
	border-bottom: 1px solid #d5dce2;
}
.product__buy-buttons .number-input input[type="number"] {
	font-family: sans-serif;
	max-width: 44px;

	border: none;
	font-size: 2rem;
	text-align: center;
}
.product__buy-buttons .Add-to-cart {
	font-family: 'Gilroy';
	display: flex;
	width: 100%;
	height: 60px;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 18px 32px;
	gap: 10px;
	background: rgb(var(--color-button));
	border-radius: 40px;
	border: none;
	color: rgb(var(--color-button-text));
	cursor: pointer;
}

.product__buy-buttons .payment-method {
	display: flex;
	margin: 24px auto;
	flex-wrap: wrap;
	justify-content: center;
}
.product__buy-buttons .payment-method img {
	margin: 5px 14px;
	max-width: 50px;
	max-height: 44px;
}

.product-slider {
	margin: 0 60px;
}


@media (max-width: 1024px) {
	.page-wrap {
		margin: 0 5px;
	}
}

.product-head-padding-left{
	padding-left: 45px;
}
.product-head-padding-right{
	padding-right: 45px;
}

.product__info-container{
	margin-top: 50px;
}